@font-face {
    font-family: "katuri";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/katuri/katuri.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/katuri/katuri.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/katuri/katuri.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/katuri/katuri.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/katuri/katuri.ttf") format("truetype");
    font-display: swap;
} 
.katuri {
    font-family: "katuri";
}
